@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,700;1,300&display=swap');

body{
  font-family: 'Montserrat', sans-serif;
  background-color: black;
  color:#B5964D !important;
  height:100vh !important
  
}

#root{
height:100vh
}

button{
  background-color: #B5964D !important;
  border-color: #B5964D !important;
  color: white!important;
  background-image: radial-gradient(93% 87% at 87% 89%, rgba(181, 150, 77, 100) 0%, transparent 86.18%), radial-gradient(66% 66% at 26% 20%, rgba(255, 255, 255, 0.55) 0%, rgba(255, 255, 255, 0) 69.79%, rgba(255, 255, 255, 0) 100%)!important;
  box-shadow: inset -3px -3px 9px rgba(181, 150, 77, 100), inset 0px 3px 9px rgba(255, 255, 255, 0.3), inset 0px 1px 1px rgba(255, 255, 255, 0.6), inset 0px -8px 36px rgba(0, 0, 0, 0.3), inset 0px 1px 5px rgba(255, 255, 255, 0.6), 2px 19px 31px rgba(0, 0, 0, 0.2)!important;
  padding: 10px 17px!important;
  border-radius: 14px!important;
  cursor: pointer!important;
}

a {
  color:#B5964D !important;
}

p{
  color: white;
}
.glass{

background: rgba(255, 255, 255, 0.14);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(0px);
-webkit-backdrop-filter: blur(0px);
border: 1px solid rgba(255, 255, 255, 0.3);

}

.golden-border{
  border-bottom:2px solid#B5964D !important
}

.footer{
  border-top: 2px solid#B5964D !important;
}

h1{
  font-size:65px !important;
}

.heroimage{
  display:flex!important;
  width: 120% !important;
}




