@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,700;1,300&display=swap');

body{
  font-family: 'Montserrat', sans-serif;
  background: rgb(62,59,59);
  background: linear-gradient(356deg, rgba(25,25,25,0.9528186274509804) 0%, rgba(0,0,0,1) 85%);
  color:#B5964D !important;
  height:100% !important;
 margin: 0 !important;
 padding: 0 !important

  
}

#root{
height:100% !important}

button{
  background-color: #B5964D !important;
  border-color: #B5964D !important;
  color: white!important;
  background-image: radial-gradient(93% 87% at 87% 89%, rgba(181, 150, 77, 100) 0%, transparent 86.18%), radial-gradient(66% 66% at 26% 20%, rgba(255, 255, 255, 0.55) 0%, rgba(255, 255, 255, 0) 69.79%, rgba(255, 255, 255, 0) 100%)!important;
  box-shadow: inset -3px -3px 9px rgba(181, 150, 77, 100), inset 0px 3px 9px rgba(255, 255, 255, 0.3), inset 0px 1px 1px rgba(255, 255, 255, 0.6), inset 0px -8px 36px rgba(0, 0, 0, 0.3), inset 0px 1px 5px rgba(255, 255, 255, 0.6), 2px 19px 31px rgba(0, 0, 0, 0.2)!important;
  padding: 10px 17px!important;
  border-radius: 14px!important;
  cursor: pointer!important;
}

button:hover{
  background-color: #7B6737 !important;
  border-color: #7B6737 !important;
  color: white!important;
  background-image: radial-gradient(93% 87% at 87% 89%, #7B6737 0%, transparent 86.18%), radial-gradient(66% 66% at 26% 20%, rgba(255, 255, 255, 0.55) 0%, rgba(255, 255, 255, 0) 69.79%, rgba(255, 255, 255, 0) 100%)!important;
  box-shadow: inset -3px -3px 9px #7B6737, inset 0px 3px 9px rgba(255, 255, 255, 0.3), inset 0px 1px 1px rgba(255, 255, 255, 0.6), inset 0px -8px 36px rgba(0, 0, 0, 0.3), inset 0px 1px 5px rgba(255, 255, 255, 0.6), 2px 19px 31px rgba(0, 0, 0, 0.2)!important;
  padding: 10px 17px!important;
  border-radius: 14px!important;
  cursor: pointer!important;
}

a {
  color:#B5964D !important;
}

a:hover{
  color: white!important;
  
}

p{
  color: white;
}


.glass{
  user-select:none;
  border: 1px solid #ffffff22;
  background-color: #282c34;
  background: linear-gradient(0deg, #212529 0%, rgba(17,0,32,.5) 100%);
  box-shadow: 0 7px 20px 5px #00000088;
  border-radius: .7rem;
  overflow: hidden;
}


.golden-border{
  border-bottom:2px solid#B5964D !important
}

.image-border{
  border: 2px solid #B5964D !important;
  width: 100%!important;
}

.footer{
  border-top: 2px solid#B5964D !important;
  background-color: black!important;

}

h1{
  font-size:65px !important;
}

.custom-title{
  font-size: 6em !important;
}


 .hero {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
 color: white;
  backface-visibility: hidden;

  height: 135vh;
  overflow: hidden;
  position: relative;
  width: 100%;
  
  @media screen and (min-width:640px) {
    background-position: 50% 0;
  }

}
.hero-container {
  box-sizing: border-box;
  height: auto;
  padding: 10px 50px;
  position: absolute;
  top: 10%;
  z-index: 2;
  
  
  

  -webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
    transition-timing-function: cubic-bezier(0.7,0,0.3,1);
    -webkit-transition-duration: 1.2s;
    transition-duration: 1.2s;
  
  @media screen and (min-width:640px) {
    height: 100%;
  }

  p {
    color: white;
    font-family: font-sans-serif;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 6px;
    opacity: 0.8;
    text-transform: uppercase;
    text-align: left;
  }
}


.hero-title {
  color: white;
  font-family: font-serif;
  font-size: 17vw; 
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 1.1;
  margin: 5px 0;
  text-align: left;
  width: 85%;
  
  @media screen and (min-width:640px) {
    font-size: 10vw;
  }
}

.custom{
    padding-right: 15%;
    padding-left: 15%;
    margin-right: auto;
    margin-left: auto; 
}
 .carousel-image {
  height:800px;
  object-fit: cover;
 }


/* pagination css */
.pagination {
  display: flex;
  border: 1px solid #fff;
  justify-content: space-between;
  padding: 20px;
}

.pagination button {
  padding: 10px;
}

.active {
  background: black;
  color: #fff;
  border: 1px solid #fff;
}

